 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    background-color:#D4CCE0;
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #D4CCE0;
}

header h1 {
    margin: 10px 0;
    font-size: 28px;
}

header img {
    max-width: 10%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.card {

    width: 75%;
    background-color: #AFB7D1;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.honesty-container {
    
    width: 75%;
    background-color: #AFB7D1;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.basic-info,
.text {
    background-color:#86A4BD;
    border: 1px solid #ddd;
    flex-basis: 48%;
}

.basic-info ul {
    list-style: none;
    padding: 0;
}

.basic-info ul li {
    margin-bottom: 10px;
}

.education-card {
    display: flex;
    justify-content: center;
    background-color: #AFB7D1;
    padding: 20px;
    margin: 20px auto;
}

.education-info {
    display: flex;
    align-items: center;
}

.date-institution {
    background-color: #5B91A3;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0;
    text-align: center;
}
.degree-program {
    padding: 10px;
    background-color:rgb(249, 232, 232);
    border: 1px solid #ddd;
    margin: 0;
    text-align: center;
}

.date-institution p,
.degree-program p {
    margin: 5px 0;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
    display: inline
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group textarea {
    width:97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.form-group input[type="radio"] {
    margin-right: 5px;
    
}

.form-group textarea {
    resize: vertical;
}

.form-group input[type="reset"],
.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-group input[type="reset"]:hover,
.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-group input[type="submit"] {
    margin-left: 10px;
}

@media (max-width: 400px) {
    .honesty-container {
        flex-direction: column;
    }

    .basic-info,
    .text {
        flex-basis: 100%;
    }

    .education-card {
        flex-direction: column;
        align-items: center;
    }
    
    .date-institution,
    .degree-program {
        margin: 5px 0;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-size: 16px;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="number"],
    .form-group input[type="date"],
    .form-group textarea {
        width:50%;
        font-size: 16px;
        padding: 15px;
    }

    .form-group input[type="reset"],
    .form-group input[type="submit"] {
        padding: 12px 24px;
    }
}
